<!-- templates/recommendations.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Recommended Books</h2>
    {% if books %}
        <ul class="recommendation-list">
            {% for _, book in books.items() %}
                <li>
                    <img src="{{ book['Image-URL-M'] }}" alt="Cover" style="height: 150px;"><br>
                    {{ book['Book-Title']  }}
                    {{ book['Book-Author']  }}
                    {{ book['Year-Of-Publication'] }}
                    {{ book'Publisher'  }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recommendations found.</p>
    {% endif %}
    <a href="/" class="back-link">&#8592; Back</a>
</body>
</html>
